@using Section02.Classes;
@model IEnumerable<PersonaClass>

@{
    ViewData["Title"] = "Personas";
}

<h1>Listado de Personas</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.iidPersona)</th>
            <th>@Html.DisplayNameFor(model => model.nombreCompleto)</th>
            <th>@Html.DisplayNameFor(model => model.email)</th>
            <th>@Html.DisplayNameFor(model => model.nombreSexo)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (PersonaClass p in Model)
        {
            <tr>
                <td>@p.iidPersona</td>
                <td>@p.nombreCompleto</td>
                <td>@p.email</td>
                <td>@p.nombreSexo</td>
            </tr>
        }
    </tbody>
</table>